@import "../../bower_components/foundation/scss/foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

body {
  overflow: hidden;
}

h2 {
  font-size: 14px;
  font-style: italic;
}

#header {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}

#content {
  margin-bottom: 20px;

  p {
    margin-bottom: 0px;
  }

  .download-link {
    border: 1px dashed #ccc;
    display: block;
    text-align: center;

    a {
      color: #333;
      font-size: small;
      font-weight: 600;
    }
  }
}

#social {
  img  {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

#subscribe {
  span {
    border: 1px solid #ccc;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.paypal {
  background: #79a94a;
  color: #fff;
  cursor: pointer !important;
  border: 0;
  border-radius: 3px;
  padding: 5px 15px;

  &:hover {
    background: #60833e;
    color: #fff !important;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.chimpy_lite_signup_form {
  box-shadow: none !important;
}
