@import "../../bower_components/foundation/scss/foundation";

h2 {
  font-size: 14px;
  font-family: serif;
  font-style: italic;
}

#header {
  margin-bottom: 30px;
  margin-top: 20px;
}
#social {
  margin-bottom: 50px;
}

#contet {
  margin-bottom: 20px;
}

#social img {
  height: 40px;
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
