@import "../../bower_components/foundation/scss/foundation";

h2 {
  font-size: 14px;
  font-family: serif;
  font-style: italic;
}

#header {
  margin-bottom: 30px;
  margin-top: 20px;
}
#social {
  margin-bottom: 50px;
}

#content {
  margin-bottom: 20px;

  p {
    margin-bottom: 0px;
  }

  .download-link {
    border: 1px dashed #ccc;
    display: block;
    text-align: center;

    a {
      color: #333;
      font-size: small;
      font-weight: bold;
    }
  }
}

#social {
  img  {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.paypal {
  background: #79a94a;
  color: #fff;
  cursor: pointer !important;
  border: 0;
  border-radius: 3px;
  padding: 5px 15px;

  &:hover {
    background: #60833e;
    color: #fff !important;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
